@model Entities.ViewModels.AdminViewModel.AdminProduct.ProductVM
@{
    ViewBag.Title = "ProductEdit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayoutPage.cshtml";
}
<meta charset='utf-8'>
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card ">
                <div class="d-flex">
                    <div class="card-header col-md-10">
                        <div class="col-md-4" style="float:left;">
                            <h1 class="card-title" style="margin-top: 8px;">
                                Ürün Bilgisi
                            </h1>
                        </div>
                    </div>
                </div><br /><br />
                <div class="card-body">
                    <div style="display:flex">
                        <div class="col-md-2" style="float:right;">
                            <br />
                            <ul class="nav" style="display:block;" id="mainProductTap">
                                <li class="tapli"><a data-toggle="tab" href="#tap1" class="tab tap1" onclick="ChangeTab(event,'tap1')">Ürün Bilgisi</a></li>
                                <li class="tapli"><a data-toggle="tab" href="#tap4" class="tab tap4" onclick="ChangeTab(event,'tap4')">Seo</a></li>
                                <li class="tapli"><a data-toggle="tab" href="#tap2" class="tab tap2" onclick="ChangeTab(event,'tap2')">Ürün Varyasyon</a></li>
                                <li class="tapli"><a data-toggle="tab" href="#tap3" class="tab tap3" onclick="ChangeTab(event,'tap3')">Resim</a></li>
                                <li class="tapli"><a data-toggle="tab" href="#tap5" class="tab tap5" onclick="ChangeTab(event,'tap5')">Ürün Özellik</a></li>
                                <li class="tapli"><a data-toggle="tab" href="#tap6" class="tab tap6" onclick="ChangeTab(event,'tap6')">Ürün Stok</a></li>
                                <li class="tapli"><a data-toggle="tab" href="#tap7" class="tab tap7" onclick="ChangeTab(event,'tap7')">Ürün Kargo Bilgisi</a></li>
                            </ul>
                        </div>
                        <div class="tab-content col-md-10" style="padding-left: 10px;">
                            <div id="tap1" class="tab-pane active ">
                                <form method="post" enctype="multipart/form-data" id="ProductInfoCreateOrUpdate" onsubmit="CreateProduct(event)">
                                    @Html.HiddenFor(x => x.Tap, new { @class = "tabHiddenFor" })
                                    @Html.HiddenFor(x => x.CreatedOnUtc)
                                    @Html.HiddenFor(model => model.Id, new { @class = "form-control" })
                                    <div style="display: flex; flex-wrap: wrap;">
                                        <div class="form-group col-md-12 row">
                                            @Html.LabelFor(x => x.ProductShow, "Ürün Gösterilsinmi?", new { @class = "control-label col-md-2 " })
                                            <div class="col-md-10">
                                                @Html.CheckBoxFor(model => model.ProductShow, new { @class = "formelement" })
                                            </div>
                                        </div>
                                        <div class="form-group col-md-12 row">
                                            @Html.LabelFor(x => x.ProductStockTypeId, "Ürün Stok Tipi", new { @class = "control-label col-md-2 " })
                                            <div class="col-md-10">
                                                @Html.DropDownListFor(model => model.ProductStockTypeId, Model.ProductStockTypeSelectList, new { @class = "form-control col-md-8" })
                                            </div>
                                        </div>
                                        <div class="form-group col-md-12 row">
                                            @Html.LabelFor(x => x.ProductName, "Ürün İsmi", new { @class = "control-label col-md-2 " })
                                            <div class="col-md-10 ">
                                                @Html.TextBoxFor(model => model.ProductName, new { @class = " form-control  col-md-8 " })
                                            </div>
                                        </div>
                                        <div class="form-group col-md-12 row">
                                            @Html.LabelFor(x => x.BrandId, "Ürün Markası", new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.DropDownListFor(model => model.BrandId, Model.BrandSelectListItems, new { @class = " form-control col-md-8  " })
                                            </div>
                                        </div>
                                        <div class="form-group col-md-12 row">
                                            @Html.LabelFor(x => x.CategoryId, "Ürün Kategorisi", new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.DropDownListFor(model => model.CategoryId, Model.CategorySelectListItems, new { @class = " form-control col-md-8  " })
                                            </div>
                                        </div>
                                        <div class="form-group col-md-12 row">
                                            @Html.LabelFor(x => x.Id, "Sku =", new { @class = "control-label col-md-2 " })
                                            <div class="col-md-10">
                                                @Html.TextBoxFor(model => model.Sku, new { @class = "form-control  col-md-8" })
                                            </div>
                                        </div>
                                        <div class="form-group col-md-12 row">
                                            @Html.LabelFor(x => x.Id, "Gtin =", new { @class = "control-label col-md-2 " })
                                            <div class="col-md-10">
                                                @Html.TextBoxFor(model => model.Gtin, new { @class = "form-control  col-md-8" })
                                            </div>
                                        </div>
                                        <div class="form-group col-md-12 row">
                                            @Html.LabelFor(x => x.CategoryId, "Ürün Açıklaması", new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                <div class="col-md-8 p-0">
                                                    <textarea id="ProductContent" name="ProductContent"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <input type="submit" value="Kaydet" class="btn btn-outline-default" />
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>

                                    <br />
                                </form>
                            </div>
                            <div id="tap4" class="tab-pane">
                                @await Html.PartialAsync("ProductSeo/_ProductSeo", Model)
                            </div>
                            <div id="tap2" class="tab-pane">
                                <br />
                                @await Html.PartialAsync("AttrMaping/AttrMapping", Model)
                                @await Html.PartialAsync("AttrCombination/AttrCombination", Model)
                            </div>
                            <div id="tap3" class="tab-pane">
                                <div class="col-md-12">
                                    @await Html.PartialAsync("ProductPhoto/ProductPhoto", Model)
                                </div>
                            </div>
                            <div id="tap5" class="tab-pane">
                                <div class="col-md-12">
                                    @await Html.PartialAsync("ProductSpefication/ProductSpefication", Model)
                                </div>
                            </div>
                            <div id="tap6" class="tab-pane">
                                <div class="col-md-12">
                                    @await Html.PartialAsync("StockPrice/ProductStockPrice", Model)
                                </div>
                            </div>
                            <div id="tap7" class="tab-pane">
                                <div class="col-md-12">
                                    @await Html.PartialAsync("ProductShipment/ProductShipment", Model)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/Admin/productEdit.js"></script>
<script>
    tinymce.init({
        selector: '#ProductContent',
        height: 400,
    });
</script>