@model Entities.ViewModels.WebViewModel.Home.ProductDetailVM
@{
    ViewBag.Title = "ProductDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}






<!-- BREADCRUMB -->
<div id="breadcrumb">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="#">Anasayfa</a></li>
            <li><a href="/Catalog/Catalog?id=@Model.ProductInfo.CategoryModel.CategoryInfo.Id">@Model.ProductInfo.CategoryModel.CategoryInfo.CategoryName</a></li>

            <li class="active">@Model.ProductInfo.ProductModel.ProductName</li>
        </ul>
    </div>
</div>
<!-- /BREADCRUMB -->
<!-- section -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!--  Product Details -->
            <div class="product product-details clearfix">

                <div class="col-md-6">
                    <div id="product-main-view">
                        @foreach (var item in Model.ProductInfo.ProductPhotoList)
                        {
                            <div class="product-view">
                                <img src="@item.ProductPhotoName" width="500px" height="500px">
                            </div>
                        }
                    </div>
                    <div id="product-view">
                        @foreach (var item in Model.ProductInfo.ProductPhotoList)
                        {
                            <div class="productdetailsmallslickphoto">
                                <img src="@item.ProductPhotoName" alt="" height="100%" width="100%">
                            </div>
                        }
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="product-body">
                        <div class="product-label">

                            @if (@Model.ProductInfo.ProductModel.CreatedOnUtc.AddDays(7) > DateTime.Now)
                            {
                                <span>Yeni Ürün</span>
                            }

                            @*<span class="sale">-20%</span>*@
                        </div>
                        <h1 class="product-name">
                            @Model.ProductInfo.ProductModel.ProductName
                        </h1>    <br />

                        @if (Model.ProductInfo.ProductStock != null)
                        {
                            <div style="display:flex;">
                                <div style=" background-color:red;color:white;border-radius:0px;text-align:center;padding:10px;margin-right:11px; font-weight:bold;">5% <br />indirim</div>
                                <div>
                                    <h4><del class="product-old-price">@Model.ProductInfo.ProductStock.ProductPrice,00 TL</del></h4>
                                    <h3 class="product-price">@Model.ProductInfo.ProductStock.ProductPrice TL</h3>
                                </div>
                            </div>
                            @if (Model.ProductInfo.ProductStock.ProductStockPiece != null)
                            {
                                <p>Stokda sadece @Model.ProductInfo.ProductStock.ProductStockPiece adet kaldı </p>

                            }
                            else
                            {
                                <p>Stokda Ürün bulunmamakta </p>
                            }


                        }

                        <div id="AttrOption">
                            <div>
                                <div class="product-options">
                                    @foreach (var mapping in Model.ProductInfo.ProductAttributeMappingList)
                                    {
                                        <span class="Productdetailfont" style="font-weight: 300;">@mapping.TextPrompt</span> <br /><br />
                                        <div class="subscription-container">
                                            @foreach (var Attr in mapping.ProductAttributeValueList)
                                            {
                                                <input type="radio" name="@mapping.Id" value="@Attr.Id" class="attr" id="@Attr.Id" onclick="AttrCheckedChange()" />
                                                <label for="@Attr.Id" class="subscription__button">
                                                    <span class="subscription__title"></span>
                                                    <span class="closesbr"> </span>
                                                    <span class="closesbs"> </span>
                                                    <span class="subscription__main-feature">@Attr.Name</span>
                                                </label>
                                            }
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>

                        <div ng-controller="Basket">

                            @if (@Model.ProductInfo.ProductStock != null)
                            {
                                <input type="number" ng-model="addProductPiece" style="padding: 7px 8px; width: 50px;" />
                                <button class="primary-btn add-to-cart" ng-click="Basketadded(@Model.ProductId,@Model.CombinationId,addProductPiece,@Model.ProductInfo.ProductStock.ProductStockPiece)"><i class="fa fa-shopping-cart"></i> Sepete Ekle</button>
                            }
                            else
                            {
                                <h3 class="text-danger">Stok Bitti</h3>
                            }
                        </div>

                    </div>

                </div>
            </div>

            <div class="col-md-12">
                <div class="product-tab">
                    <ul class="tab-nav">
                        <li class="active"><a data-toggle="tab" href="#tab1">Açıklama</a></li>
                        <li><a data-toggle="tab" href="#tab3">Özellikler</a></li>

                        <li><a data-toggle="tab" href="#tab2">Yorumlar (@Model.ProductInfo.CommentList.Count())</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="tab1" class="tab-pane fade in active">
                            <p>
                                @Html.Raw(Model.ProductInfo.ProductModel.ProductContent)
                            </p>
                        </div>
                        <div id="tab2" class="tab-pane fade in">

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="product-reviews">

                                        @foreach (var item in Model.ProductInfo.CommentList)
                                        {
                                            <div class="single-review">
                                                <div class="review-heading">
                                                    <div><a href="#"><i class="fa fa-user-o"></i> @item.User.UserName</a></div>
                                                    <div><a href="#"><i class="fa fa-clock-o"></i>@item.CommentInfo.CreatedOnUtc</a></div>
                                                    <div class="review-rating pull-right">
                                                        @for (int i = 1; i <= 5; i++)
                                                        {
                                                            if (item.CommentInfo.Rating >= i)
                                                            {
                                                                <i class="fa fa-star"></i>
                                                            }
                                                            else
                                                            {
                                                                <i class="fa fa-star-o empty"></i>
                                                            }
                                                        }
                                                    </div>
                                                </div>
                                                <div class="review-body">
                                                    <h4>@item.CommentInfo.CommentTitle</h4>
                                                    <p>
                                                        @item.CommentInfo.CommentText
                                                    </p>
                                                </div>
                                            </div><br /><br />

                                        }
                                        @if (Model.ProductInfo.CommentList.Count != 0)
                                        {
                                            <a href="/Comment/AllCommentProduct?id=@Model.ProductInfo.ProductModel.Id">
                                                <button class="main-btn quick-view">
                                                    Tümünü Görmek için Tıkla
                                                </button>
                                            </a>
                                        }
                                        else
                                        {
                                            <b class="text-danger font-weight-bold">Henüz hiç yorum yapılmamış</b>
                                        }

                                    </div>
                                </div>
                                @using (Html.BeginForm("CommentAdded", "Comment", FormMethod.Post))
                                {
                                    <div class="col-md-6">
                                        <h4 class="text-uppercase">Yorumunu yaz</h4>
                                        <p>Bu ürün hakkında sende bir fikir paylaş</p>
                                        <div class="review-form">
                                            @if (User.Identity.IsAuthenticated)
                                            {
                                                @Html.HiddenFor(x => x.ProductInfo.ProductModel.Id)

                                                <input type="hidden" name="CommentModel.Productid" value="@Model.ProductInfo.ProductModel.Id" />
                                                <input type="hidden" name="combinationId" value="@Model.CombinationId" />
                                                <div class="form-group">
                                                    @Html.TextBoxFor(x => x.CommentModel.CommentTitle, new { placeholder = "Yorum başlığı", @class = "form-control" })
                                                </div>
                                                <div class="form-group">
                                                    @Html.TextAreaFor(x => x.CommentModel.CommentText, new { placeholder = "Yorumunuz", @class = "form-control" })
                                                </div>
                                                <div class="form-group">
                                                    <div class="input-rating">
                                                        <strong class="text-uppercase">Ürünü Değerlendir </strong>
                                                        <div class="stars">
                                                            <input type="radio" id="star5" name="Rating" value="5" /><label for="star5"></label>
                                                            <input type="radio" id="star4" name="Rating" value="4" /><label for="star4"></label>
                                                            <input type="radio" id="star3" name="Rating" value="3" /><label for="star3"></label>
                                                            <input type="radio" id="star2" name="Rating" value="2" /><label for="star2"></label>
                                                            <input type="radio" id="star1" name="Rating" value="1" required /><label for="star1"></label>
                                                        </div>
                                                    </div>
                                                </div>

                                                <button class="primary-btn">Kaydet</button>
                                            }
                                            else
                                            {
                                                <a href="/Account/Login" class="primary-btn">Yorum Yapabilmek için Giriş Yap</a>
                                            }
                                        </div>
                                    </div>


                                }
                            </div>
                        </div>
                        <div id="tab3" class="tab-pane fade in">
                            <br />
                            <h4 class="card-title" style="font-weight: 100;">Tüm Özellikler</h4>
                            <table class="table table-responsive">
                                <thead>
                                <th></th>
                                <th></th>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.ProductInfo.ProductSpecificationAttributeList)
                                    {
                                        <tr>
                                            <td>@item.SpeficationAtributeTypeName</td>
                                            <td>@item.SpecificationAttributeOptionName</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>


            </div>
            <!-- /Product Details -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>

<!-- /section -->
<!-- section -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- section title -->
            <div class="col-md-12">
                <div class="section-title">
                    <h2 class="card-title" style="font-weight:100;">Diğer Ürünler</h2>
                </div>
            </div>
            <!-- section title -->

            <div ng-controller="ProductDetail" ng-init="AnotherProduct()">
                <div ng-repeat="item in AnotherProductList">
                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <div class="product product-single">
                            <div class="product-thumb">
                                <a href="/ProductDetail/ProductDetail?productId={{item.Id}}"><button class="main-btn quick-view"><i class="fa fa-search-plus"></i>İncele</button></a>
                                <div ng-if="item.ProductPhotoList.length != 0">

                                    <img src="{{item.ProductPhotoList[0].ProductPhotoName}}" alt="" width="100%" height="300">
                                </div>
                            </div>
                            <div class="product-body">
                                <h2 class="product-name"><a href="#">{{item.ProductName}}</a></h2>
                                <div ng-if="item.ProductStock != null">

                                    <h3 class="product-price">
                                        {{item.ProductStock.ProductPrice}}
                                        <del class="product-old-price">{{item.ProductStock.ProductPrice}}</del>
                                    </h3>

                                </div>
                                <div class="product-btns">
                                    <button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
                                    <button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>
                                    <button class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Sepete Ekle</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /section -->
<script>
    function AttrCheckedChange() {
        var data=@Json.Serialize(Model.AttrCombinationList);
        $.each($(".attr:checked"), function () {
            var checkedId = $(this).val();
            data = data.filter(y => y.attributesXmlList.find(x => x.attributeId == checkedId));
        });
        window.location.href = 'https://localhost:44375/ProductDetail/ProductDetail?productId=' + @Model.ProductId + '&combinationId=' + data[0].id;
    }
    $(document).ready(function () {
        $(".attr").prop("disabled", true);

        $.each(@Json.Serialize(Model.EnabledList), function (index, value) {
            $("#"+value).prop("disabled", false);
        });

        var selectedCom =@Json.Serialize(Model.SelectedCombination);
        if (selectedCom != null) {
            $.each(@Json.Serialize(Model.SelectedCombination?.AttributesXmlList), function (index, value) {
                $("#" + value.attributeId).prop("disabled", false);
                $("#" + value.attributeId).prop("checked", true);
            });
        }




    })
</script>