@model Entities.ViewModels.AdminViewModel.AdminProduct.ProductVM
<br />
<div class="accordion" id="accordion">
    @if (Model.ProductAttributeMappingList! != null)
    {
        @foreach (var item in Model.ProductAttributeMappingList)
        {
            <div class="card p-0 m-0 border border-secondary"
                 @{var cardMappingId = "Mappingcard" + item.Id; }
                 id="@cardMappingId">
                @{ var collapseHeadingId = "collapseHeading" + item.Id;}
                <div class="card-header p-0 d-flex  position-relative" id="@collapseHeadingId">
                    @{ var mappingButtonId = "MappingButton" + item.Id;}
                    @{ var collapseIdHashtag = "#collapse" + item.Id;}
                    <button type="button" class="btn text-left w-100 p-4 btn-neutral d-flex" onclick="GetMappingAttribute(@item.Id)" id="@mappingButtonId"
                            data-toggle="collapse" data-target="@collapseIdHashtag" aria-expanded="False" aria-controls="collapseOne">
                        <span class="vertical-absolute-left-center ml-4">
                            @item.TextPrompt
                        </span>
                    </button>
                    <span class="h1 vertical-absolute-right-center mr-4">
                        <a href='@Url.Action("AttrAttributeValueList", "AdminProductAttr", new {ProductAttrMapingId = item.Id})' class="btn btn-outline-default">
                            <i class="fas fa-edit"></i>
                        </a>
                        <a onclick="AttrMapingDelete(@item.Id)" class="btn btn-outline-default">
                            <i class="fas fa-remove"></i>
                        </a>
                    </span>
                </div>
                @{ var collapseId = "collapse" + item.Id;}
                <div id="@collapseId" class="collapse" aria-labelledby="@collapseHeadingId" data-parent="#accordion">
                    <div class="card-body border border-secondary">
                        @{ var mappingTableId = "MappingTable" + item.Id;}
                        <table class="table table-hover tablesorter" id="@mappingTableId">
                            <thead>
                                <tr>
                                    <td>İsim</td>
                                    <td>Seçili gelsin</td>
                                    <td>Sıralaması</td>
                                    <td> </td>
                                </tr>
                            </thead>
                            <tbody>
                                <input type="button" class="btn btn btn-outline-default mt-3 mb-3"
                                       value="Attribute Ekle"
                                       onclick="ChangeTextboxAttributeMappingId(@item.Id)" />
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        }
    }
</div>
<div class="modal  bd-example-modal-xl mx-auto" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true" id="productMappingAttributeValueModal">
    <div class=" modal-xl" style="margin: 5%;">
        <div class="modal-content" style="padding: 30px;">
            <form id="MappingAttributeCreate">
                <table cellpadding="4" style="width: 90%;" class="mx-auto">
                    <tbody>
                        <tr>
                            <td><h3>Product Alt çapraz ürün özelliği ekle</h3></td>
                            <td>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true" style="font-size: 30px;">&times;</span>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>@Html.HiddenFor(x => x.ProductAttributeValue.Id)</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>@Html.HiddenFor(x => x.ProductAttributeValue.ProductAttributeMappingId)</td>
                        </tr>
                        <tr>
                            <td class="w-40">İsmi</td>
                            <td class="w-50">
                                @Html.TextBoxFor(x => x.ProductAttributeValue.Name, new { @class = "form-control" })
                                <br />
                                @Html.ValidationMessageFor(x => x.ProductAttributeValue.Name)
                            </td>
                        </tr>
                        <tr>
                            <td class="w-40">Kare rengi</td>
                            <td class="w-50">
                                @Html.TextBoxFor(x => x.ProductAttributeValue.ColorSquaresRgb, new { @class = "form-control" })
                                <br />
                                @Html.ValidationMessageFor(x => x.ProductAttributeValue.ColorSquaresRgb)
                            </td>
                        </tr>
                        <tr>
                            <td class="w-40">Sıresı</td>
                            <td class="w-50">
                                @Html.TextBoxFor(x => x.ProductAttributeValue.DisplayOrder, new { @class = "form-control" })
                                <br />
                                @Html.ValidationMessageFor(x => x.ProductAttributeValue.DisplayOrder)
                            </td>
                        </tr>
                        <tr>
                            <td>Seçili Gelsin</td>
                            <td> @Html.CheckBoxFor(x => x.ProductAttributeValue.IsPreSelected, new { onclick = "$(this).attr('value', this.checked ? true : false)", value = "false" })</td>
                        </tr>
                        <tr>
                            <td> <input type="button" class="btn btn-default form-control col-md-5" value="Kaydet" id="register" style="color: white;" onclick="AddProductMappingAttributeValue()"></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>
