@using Entities.DTO.ShowCase
@model IList<Entities.Concrete.ShowCase>

@{
    ViewBag.Title = "ShowcaseList";
    Layout = "~/Views/Shared/_AdminLayoutPage1.cshtml";
}


<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card ">
                <div class="card-header">
                    <div class="col-md-4" style="float:left;">
                        <h2 class="card-title">ShowcaseList</h2>
                    </div>
                    <div class="col-md-8" style="float:right;">
                        <div class="col-md-3 " style="float:right;"><a href="/Admin/Showcase/ShowcaseCreate"><button type="submit" class="btn btn-outline-default pd10-50" style="text-align:center;">Ekle</button></a></div>
                    </div>
                </div>
                <div class="card-body">
                
                  
                    <div class="table-responsive">
                        <table class="table tablesorter">
                            <tr>
                                <th>
                                    Başlık
                                </th>
                                <th>
                                    Tip
                                </th>
                                <th>
                                    Sıralama
                                </th>
                                <th>

                                </th>
                            </tr>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @item.ShowCaseTitle
                                    </td>
                                    <td>
                                        @item.ShowCaseType
                                    </td>
                                    <td>
                                        @item.ShowCaseOrder
                                    </td>
                                    <td>
                                        @Html.ActionLink("Düzenle", "ShowcaseEdit", new {Id = item.Id },new { @class = "btn btn-outline-default" }) |

                                        <button onclick="DeleteFunction(@item.Id)" id="@item.Id" class="btn btn-outline-danger">Sil</button>
                                    </td>
                                </tr>
                            }

                        </table>
                        <script>
                            function DeleteFunction(id) {

                                console.log(id);
                                $.ajax({
                                    type: "post",
                                    url: "ShowCaseDelete?id=" + id,
                                    success: function (result) {
                                        $("#" + id).parent().parent().remove();
                                        pushalert("Kayıt Silindi","success");
                                    },
                                    error: function (result) {
                                        pushalert("Kayıt Silinemedi","Danger");
                                    }


                                });
                            }

                        </script>


                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


