@model Entities.ViewModels.AdminViewModel.CategoryTree.AddNode

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">Add Node</h4>
        </div>
        <div class="modal-body">
            @using (Html.BeginForm("AddNewNode", "CategoryTreeController", FormMethod.Post, new { @id = "formaddNode", @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <div class="col-md-12 d-flex">

                    <div class="col-md-6 row">
                        <div class="input-group align-items-center justify-content-sm-between">
                            <span>Parent Node</span>
                            <span class="input-group-addon">
                                @Html.RadioButtonFor(model => model.NodeTypeRbtn, "Pn", new { @class = "rbtnnodetype" })
                            </span>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group align-items-center justify-content-sm-between">
                            <span> Child Node</span>
                            <span class="input-group-addon">
                                @Html.RadioButtonFor(model => model.NodeTypeRbtn, "Cn", new { @class = "rbtnnodetype" })
                            </span>
                        </div>
                    </div>
                    <br />
                    @Html.ValidationMessageFor(m => m.NodeTypeRbtn, "", new { @class = "alert-error" })
                </div>

                <div class="clearfix">
                </div>
                <div class="col-md-12">
                    <div class="petenddiv hidden">
                        @Html.Label("Hangi sınıfa ait")
                        @Html.DropDownList("ParentName", new SelectList(ViewBag.plist, "Id", "CategoryName"), "--select--", new { @class = "form-control" })

                        @Html.ValidationMessageFor(m => m.ParentName, "", new { @class = "alert-error" })
                    </div>
                </div>

                <div class="clearfix">
                </div>

                <div class="col-md-12">
                    <div>
                        @Html.Label("Kategori ismi")
                        @Html.TextBoxFor(model => model.NodeName, new { @class = "form-control" })

                        @Html.ValidationMessageFor(model => model.NodeName, "", new { @class = "alert-error" })
                    </div>

                </div>

                <div class="clearfix">
                </div>
                <br />
                <br />
                <div class="col-md-12">
                    <div>
                        <div class="pull-left">
                            <input type="submit" id="savenode" value="Kaydet" class="btn btn-primary" />
                        </div>

                        <div class="pull-right">
                            <input type="button" id="closePopOver" value="İptal" class="btn btn-primary" />
                        </div>
                    </div>
                </div>


                <div class="clearfix">
                </div>


            }

        </div>
    </div>
</div>



