@model Entities.ViewModels.AdminViewModel.CategoryTree.AddNode
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">Add Node</h4>
        </div>
        <div class="modal-body">
            @using (Html.BeginForm("AddNewNode", "CategoryTreeController", FormMethod.Post, new { @id = "formaddNode", @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <div class="clearfix">
                </div>
                <div class="col-md-12">
                        @Html.Label("Hangi sınıfa ait")
                        <select id="ParentId" name="ParentId" class="form-control">
                            <option value="@Guid.Empty.ToString()" selected>Ana Kategori</option>
                            @foreach (var item in ViewBag.plist)
                            {
                                <option value="@item.Id">@item.CategoryName</option>
                            }
                        </select>
                        @Html.ValidationMessageFor(m => m.ParentId, "", new { @class = "alert-error" })
                </div>
                <div class="clearfix">
                </div>
                <div class="col-md-12">
                    <div>
                        @Html.Label("Kategori ismi")
                        @Html.TextBoxFor(model => model.NodeName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.NodeName, "", new { @class = "alert-error" })
                    </div>
                </div>
                <div class="col-md-12">
                    <div>
                        <div class="pull-left">
                            <input type="submit" onclick="CreateNode(event)" value="Kaydet" class="btn btn-primary" />
                        </div>
                        <div class="pull-right">
                            <input type="button" onclick="CloseModal(event)" value="İptal" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
                <div class="clearfix">
                </div>
            }
        </div>
    </div>
</div>
