@model Entities.ViewModels.AdminViewModel.AdminProduct.ProductVM
@{
    ViewData["Title"] = "_ProductSpeficationCreate";
    Layout = null;
}
<form method="post" id="productSpeficationCreate" onsubmit="CreateProductSpefication(event)">
    <div class="d-flex flex-wrap mb-5">
        <div class="form-group col-md-12 row">
            @Html.HiddenFor(x => x.ProductSpecificationAttribute.ProductId)
            @Html.HiddenFor(x => x.ProductSpecificationAttribute.SpecificationAttributeOptionName)
            @Html.HiddenFor(x => x.ProductSpecificationAttribute.SpeficationAtributeTypeName)
        </div>
        <div class="form-group col-md-6 row">
            @Html.LabelFor(x => x.ProductSpecificationAttribute.AttributeTypeId, "Özellik Tipi", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.ProductSpecificationAttribute.AttributeTypeId, Model.SpeficationAttributeSelectList, new { @class = " form-control col-md-8  " })
            </div>
        </div>
        <div class="form-group col-md-6 row">
            @Html.LabelFor(x => x.ProductSpecificationAttribute.SpecificationAttributeOptionId, "Özellik seçeneği", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select class="form-control col-md-8" name="ProductSpecificationAttribute.SpecificationAttributeOptionId" id="SpecificationAttributeOptionId" disabled>
                    <option>Bir Özellik Seçiniz</option>
                </select>
            </div>
        </div>
        <div class="form-group col-md-6 row">
            @Html.LabelFor(x => x.ProductSpecificationAttribute.DisplayOrder, "Sıra", new { @class = "control-label col-md-2 " })
            <div class="col-md-10 ">
                @Html.TextBoxFor(model => model.ProductSpecificationAttribute.DisplayOrder, new { @class = " form-control  col-md-8 ", min = "0" })
            </div>
        </div>
        <div class="form-group col-md-6">
            @Html.LabelFor(x => x.ProductSpecificationAttribute.AllowFiltering, "Filitrede Gözüksünmü?", new { @class = "control-label col-md-2 " })
            <div class="col-md-10">
                @Html.CheckBoxFor(model => model.ProductSpecificationAttribute.AllowFiltering, new { @class = "formelement" })
            </div>
        </div>
        <div class="form-group col-md-6">
            @Html.LabelFor(x => x.ProductSpecificationAttribute.ShowOnProductPage, "Üründe Gözüksünmü?", new { @class = "control-label col-md-2 " })
            <div class="col-md-10">
                @Html.CheckBoxFor(model => model.ProductSpecificationAttribute.ShowOnProductPage, new { @class = "formelement" })
            </div>
        </div>
        <div class="form-group col-md-6 row">
            <div class="col-md-10 ">
                <input type="submit" class="btn btn-default" />
            </div>
        </div>
    </div>

</form>