@model IList<Entities.DTO.Category.CategoryDTO>
<div id="navigation">
    <!-- container -->
    <div class="container-fluid home-container" >
        <div id="responsive-nav">
            <!-- category nav -->
            <div class="category-nav show-on-click">
                <span class="category-header">Tüm Kategoriler<i class="fa fa-list"></i></span>
                <ul class="category-list">
                    @foreach (var item in Model)
                    {
                        if (item.SubCategory.Count() == 0)
                        {
                            <li><a href="/Catalog/Catalog?id=@item.Id">@item.CategoryName</a></li>
                        }
                        else
                        {
                            <li class="dropdown side-dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                    @item.CategoryName <i class="fa fa-angle-right"></i>
                                </a>
                                <div class="custom-menu">
                                    <div class="custommenuflex">
                                        <div class="col-md-4">
                                            <a href="/Catalog/Catalog?id=@item.Id" class="col-md-12">
                                                <b class="list-links-title" style="font-size:18px;">@item.CategoryName</b>
                                            </a>
                                            <hr style="margin-top: 25px;margin-bottom: 15px;" />
                                        </div>
                                        @foreach (var item3 in item.SubCategory)
                                        {
                                            <div class="col-md-4">
                                                <a href="/Catalog/Catalog?id=@item3.Id" class="col-md-12">
                                                    <b class="list-links-title" style="font-size:16px;">@item3.CategoryName</b>
                                                </a>
                                                <hr style="margin-top: 11px;margin-bottom: 15px;" />
                                            </div>
                                            @foreach (var item4 in item3.SubCategory)
                                            {
                                                <div class="col-md-4">
                                                    <a href="/Catalog/Catalog?id=@item4.Id" class="col-md-12">
                                                        @item4.CategoryName
                                                    </a>
                                                </div>
                                            }
                                            <br />
                                        }
                                    </div>
                                </div>
                            </li>
                        }
                    }
                </ul>
            </div>
            <!-- /category nav -->
            <!-- menu nav -->
            <div class="menu-nav">
                <span class="menu-header">Menu <i class="fa fa-bars"></i></span>
                <ul class="menu-list">
                    <li><a href="/Home">Anasayfa</a></li>
                </ul>
            </div>
            <!-- menu nav -->
        </div>
    </div>
    <!-- /container -->
</div>
