@model Entities.ViewModels.Web.Catalog
@{
    ViewBag.Title = "Catalog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- BREADCRUMB -->
<div id="breadcrumb">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active">Products</li>
        </ul>
    </div>
</div>
<!-- /BREADCRUMB -->


<div >

    <div ng-controller="Catalog">


        <!-- section -->
        <div class="section">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">
                    <!-- ASIDE -->
                    <div id="aside" class="col-md-3" style="box-sizing: border-box; margin-right: 0px;padding: 25px;">
                        <div class="aside">
                            <button class="aside-title btncollapsecatalog" type="button" data-toggle="collapse"
                                    data-target="#collapseExamplebrand" aria-expanded="false"
                                    aria-controls="collapseExample">
                                Markalar <i style="float:right;" class="fa fa-arrow-down"></i>
                            </button>
                            <div class="collapse collapsehome in" id="collapseExamplebrand">
                                <div class="card card-body" ng-init="GetAllBrandFilter(@Model.CategoryId)">

                                    <ul ng-repeat="Brand in BrandData">
                                        <li class="filter-list">
                                            <input class="pixel-radio" type="checkbox" ng-model="Brand.checked"
                                                   value="{{Brand.Id}}" ng-change="BrandFilter(Brand)"> &nbsp;
                                            {{Brand.BrandName}}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="aside">
                            <button class="aside-title btncollapsecatalog" type="button" data-toggle="collapse"
                                    data-target="#collapseExampleprice" aria-expanded="false"
                                    aria-controls="collapseExample">
                                Fiyat <i style="float:right;" class="fa fa-arrow-down"></i>
                            </button>
                            <div class="collapse in" id="collapseExampleprice">
                                <div class="value-wrapper d-flex price-range-area" style="display:flex;">
                                    <div class="minPrice">
                                        <input type="text" placeholder="En Az" class="form-control"
                                               name="minPrice" ng-model="minPrice" />
                                    </div>
                                    <div class="pricecenter">&nbsp;</div>
                                    <div class="maxPrice">
                                        <input type="text" placeholder="En Çok" class="form-control" ng-true-value="9999999"
                                               name="maxPrice" ng-model="maxPrice" />
                                    </div>&nbsp;

                                    <div class="search">
                                        <input type="button" value="Ara"
                                               class="pricesearch btn btn-default"
                                               ng-click="GetAllData(@Model.CategoryId,1)" />
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div ng-init="GetAllCategoryFilter(@Model.CategoryId)">
                            <div ng-repeat="Filter in CatalogFilterData ">
                                <div class="aside">
                                    <button class="aside-title btncollapsecatalog" type="button" data-toggle="collapse"
                                            data-target=".{{Filter.Name}}" aria-expanded="false" aria-controls="collapseExample">
                                                {{Filter.Name}}
                                                <i style="float:right;" class="fa fa-arrow-down"></i>
                                    </button>
                                    <div class="filter-list collapse in collapsehome {{Filter.Name}}">

                                        <div class="sidebar-categories"
                                             ng-repeat="Option in Filter.SpecificationAttributeOptionList">
                                            <div class="main-categories">
                                                <div class="filter-list">
                                                    <input class="pixel-radio" type="checkbox" ng-model="Option.checked"
                                                           value="{{Option.Name}}"
                                                           ng-change="SpeficationFilter(Option)">
                                                    &nbsp;{{Option.Name}}
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>




                    </div>
                    <!-- /ASIDE -->
                    <!-- MAIN -->
                    <div id="main" class="col-md-9">
                        <!-- store top filter -->
                        <div class="store-filter clearfix ">
                            <div class="pull-right">
                                @*<div class="row-filter">
                                    <a href="#"><i class="fa fa-th-large"></i></a>
                                    <a href="#" class="active"><i class="fa fa-bars"></i></a>
                                    </div>*@
                                <div class="sort-filter">
                                    <span class="text-uppercase">Sort By:</span>
                                    @Html.DropDownListFor(model => model.Sortingenum,
                                                               (List<SelectListItem>)ViewBag.Sortingenum, new
                                                                    {
                                                                        ng_model = "Sortingenum",
                                                                        ng_change
                                                                    = "GetAllData(" + @Model.CategoryId + ",1)",
                                                                        @class = "input"
                                                                    })

                                </div>
                            </div>

                        </div>
                        <!-- /store top filter -->
                        <!-- STORE -->
                        <div id="store">
                            <!-- row -->
                            <div style="display:flex;flex-wrap:wrap;" class="row" ng-init="GetAllData(@Model.CategoryId,@Model.pageNumber)">
                                <div ng-repeat="product in ProductData" class="col-md-4 col-sm-6 col-xs-6">
                                    <div class="product product-single">

                                        <div class="product-thumb">
                                            <div class="product-label">
                                                <span>New</span>
                                                <span class="sale"
                                                      ng-if="product.ProductDiscount > 0">-{{(((product.ProductPrice-product.ProductDiscount)-product.ProductPrice)/product.ProductPrice)*-100  | number:0}}%</span>
                                            </div>
                                            <button class="main-btn quick-view">
                                                <i class="fa fa-search-plus"></i><a href="~/Home/ProductDetail/{{product.Id}}">Quick view</a>
                                            </button>
                                            <img src="{{product.ProductPhotoModel.ProductPhotoName}}" width="253"
                                            height="350">
                                        </div>
                                            <div class="product-body">
                                                <h3 class="product-price" ng-if="product.ProductDiscount===0">
                                                    {{product.ProductPrice | number }} TL <del class="product-old-price">$45.00</del>
                                                </h3>
                                                <h3 class="product-price" ng-if="product.ProductDiscount > 0">
                                                    {{product.ProductPrice-product.ProductDiscount}} TL <del class="product-old-price">
                                                        {{product.ProductPrice | number }}
                                                        TL
                                                    </del>
                                                </h3>

                                                <h2 class="product-name"><a href="#">{{product.ProductName}}</a></h2>
                                            </div>
                                        </div>
                                    </div>



                                </div>
                                <!-- /row -->
                            </div>
                            <!-- /STORE -->
                            <!-- store bottom filter -->
                            <div class="store-filter clearfix">
                                <div class="pagging">
                                    <p>{{CurrentPage}} of {{TotalPages}} pages</p>
                                    <ul class="pagination">
                                        <li>
                                            <a href="#" ng-click="GetAllData(@Model.CategoryId,BackwardOne)">
                                                <i class="fa fa-fast-backward"></i>
                                            </a>
                                            <a class="page-number active page-item" ng-repeat="data in PageNumberArray"
                                               ng-click="GetAllData(@Model.CategoryId,data)" href="#">
                                                {{data}}
                                                &nbsp;&nbsp;
                                            </a>
                                            <a href="#" ng-click="GetAllData(@Model.CategoryId,ForwardOne)"
                                               ng-show="showForwardBtn"><i class="fa fa-fast-forward"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- /store bottom filter -->
                        </div>
                        <!-- /MAIN -->
                    </div>
                    <!-- /row -->
                </div>
                <!-- /container -->
            </div>
            <!-- /section -->
        </div>
    </div>


    <script type="text/javascript">
        $(".card-product__browsebtn").hide();
        $(".catalogcard").mouseover(function () {
            $(this).find(".card-product__browsebtn").show();
        });
        $(".catalogcard").mouseout(function () {
            $(this).find(".card-product__browsebtn").hide();
        });
    </script>
