@using X.PagedList.Mvc.Core;
@model Entities.ViewModels.WebViewModel.Home.AllCommentVM
@{
    ViewBag.Title = "ProductDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!-- BREADCRUMB -->
<div id="breadcrumb">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="/ProductDetail/ProductDetail?productId=@Model.ProductCommentDTO.Product.Id">Ürüne geri Dön</a></li>
        </ul>
    </div>
</div>
<!-- /BREADCRUMB -->

<div class="container">
    <div class="col-md-12 ">
        <div class="product-reviews">
            @if (Model.ProductCommentDTO.CommentList != null)
            {
                <h3 style="margin-top:50px;font-weight:100;">
                    @Model.ProductCommentDTO.Product?.ProductName
                </h3><br />
                <div class="single-review" style="display:flex;border:1px solid #efecec;padding:20px;border-radius:10px;">
                    <div class="col-md-3">

                        <img src="@Model.ProductCommentDTO.ProductPhoto.ProductPhotoName"
                             width="225" height="225" />

                    </div>


                    <div class="single-review col-md-8" style="padding:20px;font-size:14px;padding-top:30px;">
                        <div class="review-heading">
                            @{var groupByComment = Model.ProductCommentDTO.CommentList.GroupBy(x => x.Rating); }

                            @for (int i = 1; i <=5; i++)
                            {
                                <div class="col-md-12" style="display:flex">
                                    <div class="col-md-4">
                                        <div class="review-rating pull-left ">
                                            @for (int j = 0; j < i; j++)
                                            {
                                                <i class="fa fa-star"></i>
                                            }
                                        </div>                                   
                                        @{ var ratingCount = groupByComment?.Where(x => x.Key == i).Count() != 0
                                                ? groupByComment.Where(x => x.Key == i).First().Count()
                                                : 0 ;}
                                    <span style="padding-left:10px;">(@ratingCount)</span>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="progress ">
                                            @{var ratingPercent =ratingCount != 0 ? 100 / ((Model.ProductCommentDTO.CommentList.Count()) / ratingCount) : 0; }
                                            <div class="progress-bar bg-warning" role="progressbar"
                                                 aria-valuenow="0" aria-valuemin="50" aria-valuemax="100"
                                                 style='width:@ratingPercent%;'></div>&nbsp;@ratingPercent %
                                            </div>
                                        </div>
                                    </div>
                                }
                        </div>
                        </div>

                        <div class="ortalama col-md-2 text-center" style="border:1px solid #FFB656;
                        padding:20px;box-sizing:border-box;border-radius:8px;height: 225px;
                        padding-top:50px;">
                            <h4 style="font-weight:100;color:#7f807e;">  Ortalama Puan   </h4>
                            <div class="review-rating pull-left" style="color:#FFB656;font-size:22px;">
                                @for (int i = 1; i <= 5; i++)
                                {
                                    if (@Model.ProductCommentDTO.Averagecount >= i)
                                    {
                                        <i class="fa fa-star"></i>
                                    }
                                    else
                                    {
                                        <i class="fa fa-star-o empty"></i>
                                    }
                                }
                            </div>
                            <br />
                            <h2 class="" style="font-weight:100;margin:30px;color:#7f807e;">@Model.ProductCommentDTO.Averagecount</h2>
                        </div>


                    </div>

                }


            <div style="padding:20px;border-radius:10px;border:1px solid #efecec;">
                @foreach (var item in Model.ProductCommentDTO.CommentList)
                {
                    <div class="single-review">
                        <div class="review-heading">
                            @*<div><a href="#"><i class="fa fa-user-o"></i> @item.Users.UserName</a></div>*@
                            <div style="display:flex;align-items:baseline;">
                                <i class="fa fa-clock-o"></i>
                                <div class="ml-5">@item.CreatedOnUtc</div>
                            </div>
                            <div class="review-rating pull-right">
                                @for (int i = 1; i <= 5; i++)
                                {
                                    if (item.Rating >= i)
                                    {
                                        <i class="fa fa-star"></i>
                                    }
                                    else
                                    {
                                        <i class="fa fa-star-o empty"></i>
                                    }
                                }
                            </div>
                        </div>
                        <div class="review-body">
                            <h4>@item.CommentTitle</h4>
                            <p>
                                @item.CommentText
                            </p>
                        </div>
                    </div><br /><br />

                }
            </div>
            @Html.PagedListPager(Model.ProductCommentDTO.CommentList, pageindex => Url.Action("AllCommentProduct", "Comment",
           new { pageindex = pageindex }))




        </div>
    </div>
</div>



<style>
    .progress-bar {
        background-color: #ffb656;
    }
</style>